.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cart{
  position: absolute;
  top: 0;
  right: 10px;
  color: black;
  font-size: calc(10px + 2vmin);
}

html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-225deg, #104076 0%, #124986 52%, #2762A4 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}
h1, h4  {
  color: white;
  padding: .5rem 0;
  text-align: center;

  text-transform: uppercase;

  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}


label {
  color: white;
}

input[type="date"],
input[type="time"] {
  height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.Appointment {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
}

.Appointment p {
  font-weight: bold;
  margin-bottom: .8rem;
}
.Appointment p span {
  font-weight: normal;

}
.Appointment:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.Appointment:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.button.delete,
.button.delete:hover {
  background-color: #d11a2a ;
  color: white;
  margin-top: 2rem;
}


.button.add,
.button.add:hover {
  background-color: transparent ;
  color: white;
  margin-top: 2rem;
}

